<%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<p id="notice"><%= notice %></p>
<h1>My Friend</h1>
<div class="container">
  <h1 class="title">My Friends</h1>
  <%= form_with(url: "/friends", method: "post") do %>
    <%= text_field_tag(:email, nil, placeholder: "Friend Email...", class: "form-control") %>
    <br/>
    <%= submit_tag "Add Friend", class: "btn btn-outline-info " %>
  <% end %>
<br><br>
  <h1>Friends</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col" colspan="3">Name</th>
      <th scope="col" colspan="3">Action</th>
    </tr>
    </thead>

    <tbody>

    <% @friends.each do |friend| %>

      <tr>
        <div class="col-md-7">
          <td scope="row" colspan="3">
            <span class="col-md-12"> <%= friend.name %> </span>
          </td>
          <td colspan="3">
            <%= link_to 'unfriend', friend_path(friend),
                          method: :delete,
                          data: {confirm: 'Are you sure?'} %>
          </td>
        </div>
      </tr>
      <!--      </div>-->
    <% end %>

    </tbody>
  </table>
</div>
<%#= link_to 'New Friend', new_friend_path %>
<br/>

