<p id="notice"><%= notice %></p>
<%= form_for(@group, action_name:@group) do |f| %>
  <div class="form-group">
    <%= f.label :Group %>:
    <%= f.text_field( :group, placeholder: "Enter your name of group") %>
  </div>
  <div class="form-group">
    <%= submit_tag("Add group") %>
  </div>
<% end %>


