<% content_for :title do %>
  <%= @group.name %>
<% end %>

<% if flash[:friend_error].present? %>
  <div class="alert alert-danger">
    <% flash[:friend_error] %>
  </div>
<% end %>
<% if flash[:notice].present? %>
  <div class="alert alert-success">
    <% flash[:notice] %>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col">
      <br>
      <% if @group.group_users.any? %>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Person</th>
            <th scope="col">Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @group.group_users.each do |user| %>
            <tr>
              <td><%= get_user_name(user) %></td>
              <td>
                <div class="btn-toolbar">
                  <%= link_to :Delete, [user.group, user], method: :delete, class: 'btn btn-outline-danger btn-group' %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="card">
          <div class="card-header">
            No Items Added To The Order Yet.
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <div class="form">
        <br>
        <%= form_for([@group, @group.group_users.build], method: "post") do %>
          <div class="form-group">
            <%= text_field_tag :email, nil, placeholder: "Enter email of friends...", class: "form-control" %><br>
            <%= submit_tag "Add User", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
