<div class="userInfo">
<%= form_tag group_path, method: "get" do %>
  <%= label_tag :name , "your friend email" %>
  <%= search_field_tag :search , params[:search] %>
  <%= submit_tag "Add" , :class=>"btn btn-primary" %>
<% end %>
</div>
<h3>Search Result</h3>  
    <% @results.each do |result| %>  
        <p><%= result.name %></p> 
    <% end %>