<p id="notice"><%= notice %></p>

<center><h1>Orders</h1></center>

<center><table  border="1" cellspacing="0" cellpadding="10" id="c"></center>
  <thead>
    <tr>
      <th >Order</th>
      <th >Restaurant</th>
      <th >Invited</th>
      <th >Joined</th>
      <th >Status</th>
      <th >Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.meal%></td>
        <td><%= order.restaurant %></td>
        <td>1</td>
        <td>1</td>
        <td><%= order.status %></td>
        <td><%= link_to 'finish',status_path(order),class: 'btn btn-success' %><a href="<%=  %>" class="btn btn-primary">view</a><%= link_to 'cancel',order, method: :delete,class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
