<% content_for :title do %>
  Order Details
<% end %>
<br>
<br>
<!--<p id="notice"><%#= notice %></p>-->

<!--<center><h1>Orders</h1></center>-->

<%= link_to 'Back', orders_path , class: 'btn-group genric-btn info-border circle arrow ml-3'%>

<br>
<br>
<table  class="table">
  <thead>
  <tr>
    <th scope="col" >Person</th>
    <th scope="col" >Item</th>
    <th scope="col" >Amount</th>
    <th scope="col" >Price</th>
    <th scope="col" >Comment</th>
    <th scope="col" >Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @order.order_details.each do |detail| %>
    <tr>
      <td ><%=detail_current_user(detail)%></td>
      <td ><%= detail.item%></td>
      <td ><%= detail.amount %></td>
      <td ><%= detail.price%></td>
      <td ><%= detail.comment%></td>
      <td >
        <div class="btn-toolbar">
          <%= link_to :Cancel, [detail.order, detail], method: :delete, class: 'btn btn-outline-danger btn-group' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>
<h3>Add a new item</h3>

<%= form_for([@order, @order.order_details.build], method: :post) do |f| %>
  <div class="form-group ml-10">
    <input type="hidden" name="user_id" value="<%= current_user.id %>"/>
    <%= f.text_field(:item, placeholder: "What do you want?", class:"form-control col-md-6") %>
    <%= f.number_field(:amount, placeholder: "How many?", class:"form-control col-md-6") %>
    <%= f.number_field(:price, placeholder: "Fow much?", class:"form-control col-md-6") %>
    <%= f.text_field(:comment, placeholder: "Any comments?", class:"form-control col-md-6") %>
  </div>
  <div class="form-group">
    <%= submit_tag "Add", class: "btn btn-success" %>
  </div>
<% end %>